$documents-margin: 10px 10px $margin-bottom; // これ覚えられないので変数化した

.documents {
  margin: $documents-margin;

  &, & ul { // documentsもulタグなので、
    list-style-type: none; // これ忘れがちですわ
  }

  & > li &__title {
    margin: 15px 0;
    padding-left: 8px;
    font-size: 1.4rem;
    line-height: 1.2;
    border-left: 5px solid $red-color;
  }

  & > li + li { // ここの書き方だけ、どうしても分からなくて答え見た
    margin-top: 25px;
  }

  & > li > ul {
    margin: 15px; // お手本チラ見した

    li {
      list-style-type: none;
      margin-bottom: 15px; // お手本チラ見した
      padding-left: 10px; // お手本チラ見した
      background: url("../../images/arrow.gif") no-repeat left center;

      a:hover {
        text-decoration: underline; // underlineが出てこなくてググった
      }
    }
  }
}
