.wrapper {
  margin: 30px auto 40px; // 下のmarginは40pxだった
  width: 970px; // ここは970pxだった


  .main {
    width: 660px; // ここは660pxで良かった
    margin-right: 35px; // これを忘れていた
    background-color: #6e7b84; // 仮で
    height: 600px; // 仮で
  }

  .sidemenu {
    width: 275px;
    background-color: #6e7b84; // 仮で
    height: 600px; // 仮で
  }
}