.footer {
  width: 100%;
  padding: 20px 0 30px;
  background: $footer-bg-color url("../../images/bg-footer.gif"); // この画像は縦横どっちにもrepeatするものだった
  color: white;

  .horizontal-list {
    width: 100%;
    text-align: right;

    .horizontal-item {
      display: inline-block;
      padding: 0 15px;
      border-right: $footer-nav-color 1px inset;

      &:last-child { // これとnthが混同しやすいので、気をつけて使う
        border-right: none;
      }

      a {
        letter-spacing: $letter-spacing;
        color: $footer-nav-color;
        font-size: 1.1rem;
        border-bottom: 1px dashed #777; // ここの書き方覚えていなかったのでチラ見
        transition: color $transition-time; // ここもheaderと同じ値だったので変数化した

        &:hover {
          color: $footer-nav-hover;
        }
      }
    }
  }

  .copyright {
    text-align: center;
  }
}
