.wrapper {
  width: $wrapper-width;
  margin: 30px auto 40px;

  .main {
    width: $main-width;

    .hot-topic {
      display: block;
      height: $hot-topic-height;
      width: 100%;
      margin-bottom: 30px;

      .content {
        position: relative;
        width: 50%;
        height: 100%;
        padding: 105px 25px 0; // お手本チラ見した
        background-color: $blue-color;
        line-height: $line-height;

        .title {
          color: white;
          font-size: $hot-topic-title;
          font-weight: lighter;
        }

        .desc {
          color: #ddc;
          padding: 15px 0;
        }

        .date {
          position: absolute;
          top: 60px; // お手本チラ見した
          left: 0;
          width: 140px; // お手本チラ見した
          text-align: center;
          font-weight: bold;
          font-size: 1.1rem;
          line-height: 1.9rem; // お手本と違う書き方をしてみた
          letter-spacing: $letter-spacing;
          background-color: white;
          color: $blue-color;
        }
      }
    }

    .scroll-list {
      overflow-y: auto;
      max-height: 220px; // お手本チラ見した

      .scroll-item a {
        display: block;
        padding: 10px 15px; // お手本チラ見した
        color: $text-color;

        .date {
          display: inline-block;
          width: 19%; // お手本チラ見した
          font-weight: bold;
          font-size: 1.0rem; // お手本チラ見した
          letter-spacing: $letter-spacing;
        }
      }

      .scroll-item:nth-child(even) a {
        background: url("../../images/bg-slash.gif");
      }

      .scroll-item a:hover {
        background-color: $scroll-item-hover;
      }
    }
  }

  .sidemenu {
    width: $sidemenu-width;
    margin-left: 35px;
    background-color: #6e7b84;
    height: 1000px;
  }
}
