$wrapper-width: 970px;

$main-width: 660px;

$sidemenu-width: 275px;

// margin-bottom
$margin-bottom: 30px;

// line-height
$line-height: 1.6;

// letter-spacing
$letter-spacing: 1px;

// transition
$transition-time: 0.15s;
