html {
  font-size: 62.5%;
}

body {
  color: $primary-text-color;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

*, *:before, *::after { // 忘れがちなので覚える
  box-sizing: border-box;
}

.wrapper {
  width: $wrapper-width;
  margin: 30px auto 40px;

  .main {
    width: $main-width;
  }

  .sidemenu {
    width: $sidemenu-width;
    margin-left: calc(#{$wrapper-width} - (#{$main-width} + #{$sidemenu-width}));
  }
}
